<section class="section hero" style="background:url('assets/image/home.png')">
  <div class="container w-75 m-auto">

    <h2 class="hero-title">
      New Summer <strong>Shoes Collection</strong>
    </h2>

    <p class="hero-text">
      Competently expedite alternative benefits whereas leading-edge catalysts for change. Globally leverage
      existing an
      expanded array of leadership.
    </p>

    <button class="btn">
      <span routerLink="/card">Shop Now</span>
    </button>

  </div>
</section>
