<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img src="./assets/image/logo.png" class="logo" alt="" routerLink="/home">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-md-end">
        <div class="menu-icon" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul class="">
            <li class=""><a class="" href="#home" routerLink="/home" routerLinkActive="active">Home</a></li>
              <li class=""><a class="" href="#card" routerLink="/card" routerLinkActive="active">products</a></li>
              <li class=""><a class="" href="#about" routerLink="/about" routerLinkActive="active">About</a></li>
              <li class=""><a class="" href="#contact" routerLink="/contact" routerLinkActive="active">Contact</a></li>
              <li class=""><a class="" href="#team" routerLink="/team" routerLinkActive="active">Added Products</a></li>
              <li class=""><a class="" href="#products" routerLink="/products" routerLinkActive="active">Other Products </a></li>

            </ul>
        </div>
      </div>
    </div>
  </div>
</header>






























<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->


